[Unit]
Description=Entgen CA Bootstrap Listener
After=mosquitto.service

[Service]
Type=simple
User=trent
ExecStart=/usr/bin/python3 -u /opt/entgen/save_ca_bootstrap.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target